.step_block {
    padding-left: 25%;
    position: relative;
    padding-top: 1em;
    border-bottom: 1px dashed #777;
    min-height: 10em;
    position: relative;
    @include screen('tablet') {
        padding-left: 0;
    }
    .choose_location {
        background: #f6f6f6;
        border-radius: 0.5em;
        padding: 1em;
        margin-bottom: 1em;
    }
}

.step_num {
    position: absolute;
    width: 20%;
    left: 0;
    top: 3em;
    color: #999;
    @include screen('tablet') {
        position: relative;
        height: auto;
        clear: both;
        top: 0;
        width: 100%;
    }
    &:after {
        content: '';
        border: 1px solid #ddd;
        position: absolute;
        right: 0;
        height: 5em;
        top: 0;
        transform: rotate(15deg);
        @include screen('tablet') {
            display: none;
        }
    }
    span {
        font-size: 3em;
        font-weight: bold;
        @include screen('tablet') {
            font-size: 1.5em;
        }
        em {
            font-size: 1.5em;
            font-style: normal;
            color: $primaryColor;
        }
    }
    h3 {
        color: #666;
        @include screen('tablet') {
            display: inline-block;
        }
    }
}

.choose_location {
    @extend %clearfix;
    .btn {
        width: 49%;
        float: left;
        display: block;
        margin: 0 0.5% 1em 0;
        position: relative;
        transition: none;
        color: #222;
        &:hover,
        &:focus {
            color: #222;
        }
        &:focus {
            box-shadow: none;
        }
        &:focus-visible {
            box-shadow: 0 0 0 2px $lightColor inset;
        }
        &.btn-blue {
            color: #fff;
            &.active {
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -0.8em;
                    left: 50%;
                    margin-left: -5px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 5px 0 5px;
                    border-color: $color-blue transparent transparent transparent;
                }
            }
        }
        &.btn-green {
            color: #fff;
            &.active {
                @include gradient(lighten($primaryColor, 5), $primaryColor, vertical);
                border: 1px solid $primaryColor;
                text-shadow: 0px 0px 4px RGBA(0, 0, 0, 0.6);
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -0.8em;
                    left: 50%;
                    margin-left: -5px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 5px 0 5px;
                    border-color: $color-green transparent transparent transparent;
                }
            }
        }
    }
}

.pick_date {
    background: #f6f6f6;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
    .form_inline {
        a {
            width: 32px;
            height: 32px;
            display: inline-block;
            vertical-align: middle;
            font-size: 0em;
            img {
                width: 100%;
            }
        }
        label {
            @include screen('mobile') {
                display: block;
            }
        }
    }
    span {
        padding-left: 1em;
        font-size: 0.928em;
    }
}

.choose_room {
    background: #f6f6f6;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
    .for_mobile_seleced {
        display: none;
        @include screen('mobile') {
            display: block;
            margin: 0px auto 1em;
            padding: 1em;
            border-radius: 3px;
            background: #fff;
            list-style-type: decimal;
            list-style-position: inside;
            li {
                display: block;
                border-bottom: 1px dashed #ccc;
                margin-bottom: 0.5em;
                padding: 0.5em 2em 0.5em 1em;
                position: relative;
                &:before {
                    background: $primaryColor;
                    width: 0.5em;
                    height: 0.5em;
                    border-radius: 50%;
                    position: absolute;
                    top: 0.8em;
                    left: 0;
                    content: '';
                }
                a {
                    position: absolute;
                    width: 1.2em;
                    height: 1.2em;
                    right: 0;
                    top: 0.6em;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .form_inline {
        label {
            display: inline-block;
            width: 32%;
            margin: 0 0px 1em;
            @include screen('mobile') {
                width: 90%;
                display: block;
                margin: 0px auto 1em;
            }
        }
        select {
            display: inline-block;
            max-width: 60%;
            @include screen('mobile') {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .for_check {
        display: none;
        @include screen('mobile') {
            display: block;
        }
    }
    .check_grp {
        position: relative;
        .btn_grp {
            display: none;
            @include screen('mobile') {
                display: block;
            }
        }
        &.fixed {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 999999;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1em 0 3em;
            display: none;
            background: #ddd;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            -webkit-transform: translate3d(0, 0, 0);
            .btn_grp {
                margin-bottom: 3em;
            }
            .notice_warning,
            p {
                width: 90%;
                margin: 0.5em auto;
            }
        }
        padding: 0.5em;
        label {
            &:hover,
            &:focus {
                cursor: pointer;
            }
            span {
                font-size: 0.938em;
            }
            width: 29%;
            white-space: nowrap;
            margin-left: 1%;
            margin-right: 1%;
            font-size: 0.938em;
            padding: 0.5em 15px 0.5em 15px;
            @include border-radius(4px);
            border: 1px solid #ccc;
            color: #333;
            text-shadow: none;
            @include box-sizing;
            @include gradient(#fff, #ddd, vertical);
            &.active {
                color: #fff;
                text-shadow: 0px 0px 4px RGBA(0, 0, 0, 0.6);
                @include gradient(lighten($primaryColor, 5), $primaryColor, vertical);
                border: 1px solid $primaryColor;
            }
            @include screen('tablet') {
                width: 46%;
                margin-left: 1.5%;
                margin-right: 1.5%;
            }
            @include screen('mobile') {
                width: 90%;
                margin-left: auto !important;
                margin-right: auto !important;
                float: none;
            }
            input {
                width: 16px;
                height: 16px;
                border: none;
                background: transparent;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
                &:checked {
                    background: url(../images/icon_checked.png) no-repeat center center;
                    background-size: cover;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }
}

body>.check_grp {
    position: relative;
    .btn_grp {
        display: none;
        @include screen('mobile') {
            display: block;
        }
    }
    &.fixed {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1em 0 3em;
        display: none;
        background: #ddd;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        .btn_grp {
            margin-bottom: 3em;
        }
        .notice_warning,
        p {
            width: 90%;
            margin: 0.5em auto;
        }
    }
    padding: 0.5em;
    label {
        &:hover,
        &:focus {
            cursor: pointer;
        }
        span {
            font-size: 0.938em;
        }
        width: 29%;
        white-space: nowrap;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 0.938em;
        padding: 0.5em 15px 0.5em 15px;
        @include border-radius(4px);
        border: 1px solid #ccc;
        color: #333;
        text-shadow: none;
        @include box-sizing;
        @include gradient(#fff, #ddd, vertical);
        &.active {
            color: #fff;
            text-shadow: 0px 0px 4px RGBA(0, 0, 0, 0.6);
            @include gradient(lighten($primaryColor, 5), $primaryColor, vertical);
            border: 1px solid $primaryColor;
        }
        @include screen('mobile') {
            width: 90%;
            margin-left: auto !important;
            margin-right: auto !important;
            float: none;
            display: block;
        }
        input {
            width: 16px;
            height: 16px;
            border: none;
            background: transparent;
            box-shadow: none;
            &:focus {
                outline: none;
                box-shadow: none;
            }
            &:checked {
                background: url(../images/icon_checked.png) no-repeat center center;
                background-size: cover;
                border: none;
                box-shadow: none;
            }
        }
    }
}

table.table_sprite {
    @include screen('mobile') {
        min-width: 500px;
    }
}

.result {
    table {
        th,
        td {
            position: relative;
            text-align: center;
            .slash {
                position: relative;
                width: 100px;
                height: 40px;
                box-sizing: border-box;
                left: 30%;
                line-height: 120px;
                background: linear-gradient(-135deg, transparent 49.5%, #212121 49.5%, transparent 50.5%, transparent 50.5%);
            }
            .slash01 {
                position: absolute;
                top: -25px;
                left: 10px;
            }
            .slash02 {
                position: absolute;
                top: -50px;
                left: 60px;
            }
        }
        th {
            a {
                color: #222;
            }
        }
        td.date {
            background: #fff;
            min-width: 8em;
        }
        td.booked {
            background: #efefef;
        }
        td {
            img {
                height: 1em;
            }
        }
    }
}

.status {
    @extend %clearfix;
    span {
        padding-right: 1em;
        color: #555;
        font-size: 0.938em;
        @include screen('mobile') {
            display: block;
        }
        img {
            height: 1em;
            margin: 0px 0.2em;
            vertical-align: middle;
        }
    }
}

.form_h {
    background: #f1f1f1;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    &~.check_grp,
    &~.radio_grp,
    &~.form_grp {
        margin-left: 2em;
        border: none;
        padding: 0.5em;
    }
}

p.red {
    color: red;
    font-size: 0.938em;
}

form {
    table {
        td,
        td {
            border: none;
            border-bottom: 1px dashed #ddd;
        }
    }
    td {
        button.btn {
            vertical-align: middle;
            margin-bottom: 0.3em;
            margin: 0 !important;
            top: -0.15em;
            text-align: center;
            position: relative;
            padding: 0.5em 1em 0.3em !important;
            min-width: 1em !important;
            img {
                height: 1.2em;
                margin-right: 0.5em;
                margin: 0px auto;
            }
        }
    }
    .captcha~input[type='text'] {
        text-align: center;
        width: 10em;
    }
    label {
        input[type='checkbox']+input[type='text'] {
            display: inline-block;
            width: auto;
            padding: 0.2em 0.5em;
            font-size: 0.938em;
            min-width: 20em;
            @include screen('mobile') {
                min-width: auto;
            }
        }
    }
}

.btn-red {
    margin: 0px auto;
    img {
        margin-right: 0.5em;
    }
}

.total_tr {
    td {
        background: #fff;
        border-top: 2px solid #999;
        text-align: center;
        padding: 1.2em 1em;
    }
    .total {
        display: block;
        text-align: right;
        margin: 0px 0px 0px auto;
        font-size: 2.5em;
        font-weight: bold;
    }
}

blockquote {
    background: #f2f2f2;
    font-style: normal;
    display: block;
    border-left: 5px solid $primaryColor;
    box-sizing: border-box;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 1.5em;
}

.traffic_block {
    padding: 0;
    font-size: 0.813em;
    @extend %clearfix;
    .map {
        // width: 70%;
        // max-width: 720px;
        // margin: 0px auto;
        // @include screen('mobile') {
        //     width: 100%;
        // }
        .power {
            position: absolute;
            height: 15%;
            width: 8%;
            left: 32.5%;
            top: 73%;
            z-index: 9;
            background: url(../images/map/taipei/power.png) no-repeat center top;
            background-size: contain;
        }
        .stop_info {
            position: absolute;
            height: 30%;
            right: 0;
            padding: 1em;
            bottom: 0;
            left: 0;
            z-index: 11;
            background: rgba(0, 0, 0, 0.75);
            @include screen('mobile') {
                height: 40%;
            }
            h3 {
                margin: 0 0 0 0.5em;
                color: $color-yellow;
            }
            p {
                margin: 0 0 0 0.5em;
                color: #fff;
                font-size: 1.25em;
                @include screen('mobile') {
                    font-size: 1em;
                    line-height: 1.65em;
                }
            }
        }
        line-height: 1;
        padding: 0;
        position: relative;
        overflow: hidden;
        ul {
            @include li-reset;
            li {
                position: absolute;
                width: 5%;
                height: 5%;
                font-size: 0em;
                background: url(../images/map/taipei/stop.png) no-repeat center center;
                background-size: contain;
                &.focus {
                    transform: scale(1.5);
                    outline: 3px solid lighten($color-yellow, 15);
                    z-index: 88;
                }
                &:nth-child(1) {
                    top: 25%;
                    left: 51%;
                }
                &:nth-child(2) {
                    top: 25%;
                    left: 55%;
                }
                &:nth-child(3) {
                    top: 46%;
                    left: 40%;
                }
                &:nth-child(4) {
                    top: 9%;
                    left: 37%;
                }
                &:nth-child(5) {
                    top: 15%;
                    left: 36%;
                }
                &:nth-child(6) {
                    top: 18%;
                    left: 55%;
                }
                &:nth-child(7) {
                    top: 12%;
                    left: 57%;
                }
                &:nth-child(8) {
                    top: 11%;
                    left: 49%;
                }
                &:nth-child(9) {
                    top: 49%;
                    left: 56.5%;
                }
                &:nth-child(10) {
                    top: 49%;
                    left: 52%;
                }
            }
        }
        img {
            max-width: 100%;
        }
        .h_1,
        .h_3,
        .mrt,
        .man,
        .n_h_1,
        .n_h_2 {
            position: absolute;
            z-index: 2;
        }
        // .focus {
        //     background: #faffcf;
        //     border: 1px dashed $aHover;
        //     border-radius: 4px;
        // }
        .n_h_1 {
            top: 7%;
            left: 40%;
            width: 8%;
            height: 7%;
            animation-name: n_h_1;
            animation-duration: 10s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            background: url(../images/map/car_right.png) no-repeat 50% 50%;
            background-size: contain;
            display: none;
        }
        .n_h_1_path {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: url(../images/map/nantuo/n_h_1.png) no-repeat center top;
            background-size: cover;
        }
        .n_h_2_path {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: url(../images/map/nantuo/n_h_2.png) no-repeat center top;
            background-size: cover;
        }
        .n_h_2 {
            top: 65%;
            left: 10%;
            width: 8%;
            height: 7%;
            animation-name: n_h_2;
            animation-duration: 6s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            background: url(../images/map/car_right.png) no-repeat 50% 50%;
            background-size: contain;
        }
        .h_1 {
            top: -100px;
            left: 58%;
            width: 8%;
            height: 7%;
            animation-name: h_1;
            animation-duration: 5s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            background: url(../images/map/car.png) no-repeat 50% 50%;
            background-size: contain;
        }
        .h_1_path {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: url(../images/map/taipei/h1_path.png) no-repeat center top;
            background-size: cover;
        }
        .h_3 {
            top: 45%;
            left: 100%;
            width: 8%;
            height: 7%;
            animation-name: h_3;
            animation-duration: 5s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            background: url(../images/map/car.png) no-repeat 50% 50%;
            background-size: contain;
        }
        .h_3_path {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: url(../images/map/taipei/h3_path.png) no-repeat center top;
            background-size: cover;
        }
        .mrt {
            top: 100%;
            left: 51%;
            width: 20%;
            height: 20%;
            animation-name: mrt;
            animation-duration: 3s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            background: url(../images/map/mrt.png) no-repeat 50% 50%;
            background-size: contain;
        }
        .man {
            top: 45%;
            left: 24%;
            width: 10%;
            height: 10%;
            animation-name: man;
            animation-duration: 4s;
            animation-iteration-count: 1;
            // animation-timing-function: ease;
            animation-fill-mode: forwards;
            background: url(../images/map/taipei/man.gif) no-repeat 50% 50%;
            background-size: contain;
        }
        .man_path {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background: url(../images/map/taipei/man_path.png) no-repeat center top;
            background-size: cover;
        }
    }
    .drive {
        overflow: hidden;
        [class^='highway'] {
            float: left;
            width: 50%;
            padding: 0.5em;
            box-sizing: border-box;
            border: 1px dashed transparent;
            @include screen('mobile') {
                float: none;
                width: 100%;
            }
        }
    }
    .mass_transit {
        .mrt {
            float: left;
            width: 30%;
            padding: 0.5em;
            box-sizing: border-box;
            border: 1px dashed transparent;
            @include screen('mobile') {
                float: none;
                width: 100%;
            }
        }
        .bus {
            float: left;
            width: 70%;
            padding: 0.5em;
            box-sizing: border-box;
            border: 1px dashed transparent;
            @include screen('mobile') {
                float: none;
                width: 100%;
            }
        }
    }
    .drive,
    .mass_transit {
        .focus {
            background: #faffcf;
            border: 1px dashed $aHover;
            border-radius: 4px;
        }
        overflow: hidden;
        padding: 0.5em;
        position: relative;
        padding-left: 80px;
        box-sizing: border-box;
        p {
            margin: 0 0 0.2em;
            line-height: 1.45em;
            min-height: 5.4em;
        }
        img {
            position: absolute;
            width: 70px;
            height: 70px;
            top: 5px;
            left: 0;
        }
        h3 {
            margin: 0 0 0.2em;
        }
        .bus {
            ul {
                @include li-reset;
                li {
                    display: inline-block;
                    vertical-align: top;
                    text-align: left;
                    margin: 0px 0.3em 0.5em 0;
                    color: #222;
                    padding: 0.2em 0.5em;
                    border-radius: 4px;
                    border: 1px dashed #ddd;
                    background: #f1f1f1;
                    &:hover,
                    &:focus {
                        color: #222;
                        border: 1px dashed $aHover;
                        background: #faffcf;
                    }
                }
            }
        }
    }
}

@keyframes h_1 {
    0% {
        background: url(../images/map/car_down.png) no-repeat 50% 50%;
        background-size: contain;
    }
    19% {
        top: 12%;
        left: 61%;
        background: url(../images/map/car_down.png) no-repeat 50% 50%;
        background-size: contain;
    }
    20% {
        top: 13%;
        left: 61%;
        background: url(../images/map/car.png) no-repeat 50% 50%;
        background-size: contain;
    }
    49% {
        top: 13%;
        left: 52%;
        background: url(../images/map/car.png) no-repeat 50% 50%;
        background-size: contain;
    }
    50% {
        top: 13%;
        left: 51%;
        background: url(../images/map/car_down.png) no-repeat 50% 50%;
        background-size: contain;
    }
    79% {
        top: 33%;
        left: 53%;
        background: url(../images/map/car_down.png) no-repeat 50% 50%;
        background-size: contain;
    }
    80% {
        top: 34%;
        left: 53%;
        background: url(../images/map/car.png) no-repeat 50% 50%;
        background-size: contain;
    }
    90% {
        top: 34%;
        left: 48%;
        opacity: 1;
    }
    100% {
        top: 34%;
        left: 48%;
        opacity: 0;
    }
}

@keyframes h_3 {
    0% {}
    29% {
        top: 45%;
        left: 81%;
        background: url(../images/map/car.png) no-repeat 50% 50%;
        background-size: contain;
    }
    30% {
        top: 45%;
        left: 80%;
        background: url(../images/map/car_up.png) no-repeat 50% 50%;
        background-size: contain;
    }
    49% {
        top: 32%;
        left: 72%;
        background: url(../images/map/car_up.png) no-repeat 50% 50%;
        background-size: contain;
    }
    50% {
        top: 32%;
        left: 71%;
        background: url(../images/map/car.png) no-repeat 50% 50%;
        background-size: contain;
    }
    90% {
        top: 34%;
        left: 48%;
        opacity: 1;
    }
    100% {
        top: 34%;
        left: 48%;
        opacity: 0;
    }
}

@keyframes n_h_1 {
    0% {
        top: 7%;
        left: 40%;
        opacity: 0;
    }
    12% {
        top: 5%;
        left: 53%;
        opacity: 1;
    }
    24% {
        top: 17%;
        left: 70%;
        background: url(../images/map/car_right.png) no-repeat 50% 50%;
        background-size: contain;
    }
    25% {
        top: 18%;
        left: 71%;
        background: url(../images/map/car.png) no-repeat 50% 50%;
        background-size: contain;
    }
    35% {
        top: 25%;
        left: 72%;
    }
    64% {
        top: 59%;
        left: 49%;
        background: url(../images/map/car.png) no-repeat 50% 50%;
        background-size: contain;
    }
    65% {
        top: 60%;
        left: 48%;
        background: url(../images/map/car_right.png) no-repeat 50% 50%;
        background-size: contain;
    }
    75% {
        top: 71%;
        left: 50%;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: 84%;
        left: 67%;
        opacity: 0;
    }
}

@keyframes n_h_2 {
    0% {
        top: 65%;
        left: 10%;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        top: 75%;
        left: 26%;
    }
    50% {
        top: 75%;
        left: 38%;
    }
    60% {
        top: 72%;
        left: 41%;
    }
    76% {
        top: 72%;
        left: 50%;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: 84%;
        left: 67%;
        opacity: 0;
    }
}

@keyframes mrt {
    0% {}
    100% {
        top: 45%;
        left: 12%;
    }
}

@keyframes man {
    0% {}
    60% {
        top: 30%;
        left: 36%;
    }
    // 80% {
    //     top: 30%;
    //     left: 42%;
    //     opacity: 1;
    // }
    95% {
        top: 30%;
        left: 49%;
        opacity: 1;
    }
    100% {
        top: 30%;
        left: 50%;
        opacity: 0;
    }
}