.container {
    @include gutter;
}

section.section {
    @extend %clearfix;
    padding: 1em 0 1em;
    background: #fff;
    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1.65em;
        margin-bottom: 0.4em;
        @extend %clearfix;
    }
    &:nth-child(3n + 1) {
        background: #f1f1f1;
    }
}

//animation
@keyframes slogan {
    0% {
        left: 40%;
        opacity: 0;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
}

//animation
@keyframes show_ulbg_big {
    0% {
        right: -50%;
    }
    100% {
        right: -70%;
    }
}

//animation
@keyframes show_ulbg_medium {
    0% {
        right: -70%;
    }
    100% {
        right: -95%;
    }
}

@keyframes show_before {
    0% {
        right: 6em;
    }
    100% {
        right: 0;
    }
}

@keyframes show_ul {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show_bigul {
    0% {
        opacity: 0;
        left: -8em;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

// 主視覺
.main_image {
    background: url(../images/main_bg.jpg) no-repeat right bottom #1d6e99;
    background-size: contain;
    height: 47em;
    // min-height: 520px;
    width: 100%;
    position: relative;
    @include box-sizing;
    // @media screen and (max-width: 1600px) {
    //     height: 92vh;
    // }
    @include screen('notebook') {
        // height: 90vh;
        background: url(../images/main_bg.jpg) no-repeat center center #1d6e99;
        background-size: cover;
    }
    @include screen('mobile') {
        background: url(../images/main_bg_m.jpg) no-repeat center top #5ead25;
        background-size: 120%;
        height: auto;
        min-height: 600px;
        padding-top: 400px;
        padding-bottom: 1em;
    }
    &:before {
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 150px;
        background-image: linear-gradient(top, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0) 100%);
        @include screen('mobile') {
            display: none;
        }
    }
    &:after {
        content: '';
        width: 560px;
        height: 110px;
        position: absolute;
        left: 50%;
        bottom: 26%;
        background: url(../images/slogan.png) no-repeat center center;
        background-size: cover;
        z-index: 1;
        animation: slogan 1.2s 0.1s ease-out;
        @include screen('notebook') {
            width: 50%;
            bottom: 25%;
            background: url(../images/slogan.png) no-repeat center center;
            background-size: contain;
        }
        @include screen('tablet') {
            width: 50%;
            height: 100px;
            bottom: 26%;
        }
        @include screen('mobile') {
            width: 90%;
            left: 5%;
            top: 50px;
            animation: none;
        }
    }
    // 角色分眾
    .character {
        position: absolute;
        width: 32%;
        height: 100%;
        left: 0%;
        top: 0;
        z-index: 3;
        @include box-sizing;
        @include screen('notebook') {
            width: 25%;
        }
        @include screen('tablet') {
            width: 32%;
        }
        @include screen('mobile') {
            position: relative;
            width: auto;
            height: auto;
            margin: 0 calc($grid-gutter-width/2);
        }
        ul {
            @include li-reset;
            padding-top: 11em;
            width: 14em;
            margin: 0 0 0 auto;
            position: relative;
            z-index: 6;
            @include screen('mobile') {
                width: 80%;
                padding: 1em 0 2em;
                margin: 0px auto;
            }
            li {
                display: block;
                position: relative;
                margin-bottom: 0.5em;
                ul {
                    margin-top: -2.5em;
                    margin-left: 21em;
                    @media screen and (max-width: 1600px) {
                        margin-left: 19.2em;
                    }
                    @media screen and (max-width: 1024px) {
                        margin-left: 19.5em;
                    }
                    animation: show_ul 0.5s ease-out;
                    @include screen('mobile') {
                        margin: 0.5em 0 0em;
                        width: 90%;
                        padding: 0.5em;
                    }
                }
                &:nth-child(2) {
                    margin-right: 1em;
                    @include screen('mobile') {
                        margin-right: 0;
                    }
                    ul {
                        margin-top: -5.7em;
                        margin-left: 21em;
                        @media screen and (max-width: 1600px) {
                            margin-left: 19.2em;
                        }
                        @media screen and (max-width: 1024px) {
                            margin-left: 19.5em;
                        }
                        @include screen('mobile') {
                            margin: 0;
                        }
                    }
                }
                &:nth-child(3) {
                    margin-right: 2em;
                    @include screen('mobile') {
                        margin-right: 0;
                    }
                    ul {
                        margin-top: -8.9em;
                        margin-left: 21em;
                        @media screen and (max-width: 1600px) {
                            margin-left: 19.2em;
                        }
                        @media screen and (max-width: 1024px) {
                            margin-left: 19.5em;
                        }
                        @include screen('mobile') {
                            margin: 0;
                        }
                    }
                }
                &:nth-child(4) {
                    margin-right: 3em;
                    @include screen('mobile') {
                        margin-right: 0;
                    }
                    ul {
                        margin-top: -12.1em;
                        margin-left: 21em;
                        @media screen and (max-width: 1600px) {
                            margin-left: 19.2em;
                        }
                        @media screen and (max-width: 1024px) {
                            margin-left: 19.5em;
                        }
                        @include screen('mobile') {
                            margin: 0;
                        }
                    }
                }
                a {
                    color: #fff;
                    font-weight: bold;
                    text-shadow: 1px 1px 2px RGBA(0, 0, 0, 0.85);
                    position: relative;
                    padding: 0.5em 0.5em 0.5em 1em;
                    display: block;
                    font-size: 1.25em;
                    border-bottom: 1px solid RGBA(255, 255, 255, 0.4);
                    &:hover,
                    &:focus {
                        color: $color-yellow;
                        &:before {
                            left: 0.5em;
                        }
                    }
                    @include screen('mobile') {
                        font-size: 1.125em;
                        // margin-left: 5%;
                        // padding: .2em .2em .2em 1em;
                    }
                    &:before {
                        transition: 0.3s ease-out;
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        left: 0.2em;
                        top: 0.8em;
                        border-style: solid;
                        border-width: 3px 0 3px 6px;
                        border-color: transparent transparent transparent $color-yellow;
                    }
                }
            }
            ul {
                display: none;
                position: absolute;
                padding-top: 0;
                @include screen('mobile') {
                    position: relative;
                }
                li {
                    margin-bottom: 0.5em;
                    @include screen('mobile') {
                        margin-left: 0 !important;
                    }
                    a {
                        font-size: 1.2em;
                        border-bottom: 1px dashed RGBA(255, 255, 255, 0.4);
                        &:hover,
                        &:focus {
                            &:before {
                                left: 0.8em;
                            }
                        }
                        &:before {
                            top: 1em;
                            border-width: 2px 0 2px 4px;
                            left: 0.4em;
                            border-color: transparent transparent transparent #fff;
                        }
                        @include screen('mobile') {
                            padding: 0.2em 0.2em 0.2em 1.5em;
                            border-bottom: none;
                            &:before {
                                top: 0.8em;
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-left: -1em;
                        @include screen('mobile') {
                            margin-left: 0 !important;
                        }
                    }
                    &:nth-child(3) {
                        margin-left: -2.2em;
                        @include screen('mobile') {
                            margin-left: 0 !important;
                        }
                    }
                    &:nth-child(4) {
                        margin-left: -3.3em;
                        @include screen('mobile') {
                            margin-left: 0 !important;
                        }
                    }
                    &:nth-child(5) {
                        margin-left: -4.4em;
                        @include screen('mobile') {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
        &:before {
            content: '';
            width: 200%;
            height: 100%;
            right: 0%;
            position: absolute;
            @include gradient($primaryColor, $secondaryColor, vertical);
            -moz-transform: skew(-20deg, 0deg);
            -webkit-transform: skew(-20deg, 0deg);
            -o-transform: skew(-20deg, 0deg);
            -ms-transform: skew(-20deg, 0deg);
            transform: skew(-20deg, 0deg);
            z-index: 2;
            animation: show_before 0.6s ease-out;
            @include screen('mobile') {
                transform: none;
                width: 100%;
                animation: none;
                @include border-radius(0.5em);
            }
        }
        // 第二層背景
        .ul_bg {
            width: 200%;
            height: 100%;
            right: -70%;
            top: 0;
            position: absolute;
            @include gradient(rgba(255, 255, 255, 0.05), rgba(9, 80, 120, 0.5), vertical);
            -moz-transform: skew(-20deg, 0deg);
            -webkit-transform: skew(-20deg, 0deg);
            -o-transform: skew(-20deg, 0deg);
            -ms-transform: skew(-20deg, 0deg);
            transform: skew(-20deg, 0deg);
            z-index: 1;
            animation: show_ulbg_big 0.3s ease-out;
            transition-timing-function: cubic-bezier(0.22, 0.84, 0.44, 1);
            @include screen('notebook') {
                right: -95%;
                animation: show_ulbg_medium 0.3s ease-out;
            }
            @include screen('mobile') {
                display: none;
            }
        }
    }
}

// 快捷服務
$S_UlWidth: 100%;
$S_liLenth: 6;
$S_liWidth: calc($S_UlWidth/$S_liLenth);
.service {
    overflow: hidden;
    position: relative;
    height: 17em;
    margin-top: -15em;
    z-index: 8;
    background: transparent !important;
    @include screen('notebook') {
        height: 15em;
    }
    @include screen('tablet') {
        height: 22em;
    }
    @include screen('mobile') {
        height: auto;
        background: #dedede;
        margin-top: 0;
    }
    h2 {
        text-align: left !important;
        color: #fff;
        text-shadow: 1px 1px 3px RGBA(0, 0, 0, 0.7) !important;
        max-width: $container-max !important;
        margin: 0px auto 0.5em;
        @include gutter;
        @include screen('mobile') {
            text-align: center !important;
            color: #222;
            text-shadow: none !important;
        }
        &:before {
            content: '>>' !important;
            font-size: 0.4em;
            color: $color-yellow;
            display: inline-block !important;
            margin-right: 0.8em;
            font-weight: bold;
            width: 1em;
            text-shadow: none;
        }
    }
    &:before {
        content: '';
        position: absolute;
        background: #dedede;
        width: 100%;
        height: 12em;
        bottom: 0;
        left: 0;
        @include screen('mobile') {
            display: none;
        }
    }
    ul {
        @include li-reset;
        li {
            width: $S_liWidth;
            float: left;
            height: 13em;
            border: 1px solid #ddd;
            display: block;
            @include gradient(#fff, #e7e7e7, vertical);
            transition: 0.3s ease-out;
            @include box-sizing;
            @include screen('notebook') {
                height: 12em;
            }
            @include screen('tablet') {
                width: 33%;
                height: 10em;
            }
            @include screen('mobile') {
                width: 50%;
                height: 12em;
            }
            &:hover,
            &:focus {
                border: 1px solid $aHover;
                @include gradient(#fff, #f1f1f1, vertical);
                box-shadow: 0px 0px 0px 5px $aHover inset;
                img {
                    transform: scale(1.1);
                }
                a {
                    color: $aColor;
                }
            }
            a {
                display: block;
                text-align: center;
                font-size: 1.25em;
                position: relative;
                height: 100%;
                padding: 0em 1em;
                font-weight: bold;
                line-height: 1.45em;
                color: #555;
                img {
                    width: 80%;
                    margin: 0px auto;
                    display: block;
                    transition: 0.3s ease-out;
                    @include screen('tablet') {
                        width: 120px;
                    }
                }
            }
        }
    }
}

// 最新消息
$UlWidth: 100%;
$liLenth: 3;
$liWidth: calc($UlWidth/$liLenth);
.news {
    .rss {
        color: $color-orange;
        font-weight: bold;
        width: 5em;
        height: 1.5em;
        line-height: 1em;
        float: right;
        margin-top: -1em;
        vertical-align: baseline;
        img {
            width: 1.3em;
            height: 1.3em;
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 0.5em;
        }
    }
    .container {
        @include gutter;
    }
    ul {
        width: $UlWidth;
        margin-bottom: 1em;
        @include li-reset;
        overflow: hidden;
        li {
            position: relative;
            width: $liWidth;
            min-height: 24em;
            float: left;
            display: block;
            @include box-sizing;
            vertical-align: top;
            @include gradient(#fff, #eee, vertical);
            padding: 3em 2em 1em;
            border: 1px solid #aaa;
            border-left: none;
            transition: 0.3s ease-out;
            @include screen('xs_mobile') {
                min-height: auto;
                width: 100%;
                max-width: 500px;
                min-width: 280px;
                min-height: 20em;
                float: none;
                display: block;
                margin: 0px auto;
                border: 1px solid #aaa !important;
                margin-top: -1px;
                &:hover,
                &:focus {
                    box-shadow: none !important;
                    border: 1px solid #aaa !important;
                }
                .img-container {
                    margin-bottom: 1em;
                }
                &:first-child {
                    margin-top: 0px;
                }
            }
            &:hover,
            &:focus {
                box-shadow: 0px 0px 0px 5px lighten($secondaryColor, 15) inset;
                border: 1px solid lighten($secondaryColor, 15);
                border-left: none;
                background: #fff;
                .img-container {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            .tag {
                position: absolute;
                top: 0;
                right: 2em;
                font-size: 0.938em;
                min-width: 5em;
                max-width: 8em;
                text-align: center;
                background: lighten($secondaryColor, 15);
                color: white;
                padding: 0.4em 1em;
                font-weight: bold;
                @include text-overflow;
                &:before {
                    display: none;
                }
            }
            &:nth-child(3n) {
                h3 {
                    a {
                        color: lighten($secondaryColor, 0);
                        &:hover,
                        &:focus {
                            color: lighten($secondaryColor, 15);
                        }
                    }
                }
            }
            &:nth-child(3n + 1) {
                border-left: 1px solid #aaa;
                h3 {
                    a {
                        color: lighten($secondaryColor, 0);
                        &:hover,
                        &:focus {
                            color: lighten($secondaryColor, 15);
                        }
                    }
                }
                &:hover,
                &:focus {
                    border: 1px solid lighten($secondaryColor, 15);
                }
            }
            &:nth-child(2n) {
                &:hover,
                &:focus {
                    box-shadow: 0px 0px 0px 5px $primaryColor inset;
                }
                .tag {
                    background: $primaryColor;
                }
            }
            time {
                font-size: 0.938em;
                color: #555;
                &:before {
                    margin-right: 0.3em;
                    width: 0.75em;
                    height: 0.75em;
                    opacity: 0.8;
                }
            }
            .img-container {
                @include aspect-ratio(16, 9);
                margin-bottom: 0.5em;
                img {
                    transition: 0.3s ease-out;
                }
            }
            h3 {
                line-height: 1.5em;
                max-height: 3em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-top: 0;
                margin-bottom: 0.5em;
            }
            p {
                color: #555;
                line-height: 1.5em;
                max-height: 7.5em;
                font-size: 0.938em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }
        }
    }
}

// 大廣告輪播
.mp_slider {
    width: 100%;
    @include gutter(0);
    .container {
        position: relative;
        @include gutter;
        @include screen('mobile') {
            @include gutter();
        }
    }
    .slick-dots {
        width: 100%;
        bottom: -2em;
        left: 0;
        right: 0;
    }
    .img-container {
        @include aspect-ratio(5, 2);
        a {
            &:focus {
                outline: none;
                box-shadow: none;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    content: '';
                    box-shadow: 0px 0px 0px 2px $color-yellow inset;
                }
                @include screen('mobile') {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center RGBA(255, 255, 255, 0.4);
        background-size: 80%;
        left: 15px;
        @include screen('mobile') {
            left: 15px;
        }
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center RGBA(255, 255, 255, 0.4);
        background-size: 80%;
        right: 15px;
        @include screen('mobile') {
            right: 15px;
        }
    }
}

// 活動剪影
.events {
    h2 {
        @include screen('mobile') {
            margin-bottom: 30px !important;
        }
    }
    .container {
        @include gutter;
    }
    .youtube {
        color: #333;
        font-weight: bold;
        width: 10em;
        height: 1.5em;
        line-height: 1em;
        float: right;
        margin-top: -1.5em;
        vertical-align: baseline;
        @include screen('mobile') {
            margin-top: -2em;
            float: none;
            text-align: right;
            display: block;
            width: 100%;
        }
        img {
            width: 73px;
            display: inline-block;
            vertical-align: middle;
            margin: -5px 0 0 0.5em;
        }
    }
    ul {
        width: $UlWidth;
        margin-bottom: 1em;
        @include li-reset;
        overflow: hidden;
        // padding-top: 1em;
        margin-top: -2em;
        @include screen('mobile') {
            margin-top: 0em;
        }
        li {
            position: relative;
            width: $liWidth;
            float: left;
            display: block;
            @include box-sizing;
            vertical-align: top;
            // border: 1px solid #DDD;
            // border-left: none;
            &:nth-child(3n + 1) {
                // border: 1px solid #DDD;
            }
            @include screen('xs_mobile') {
                min-height: auto;
                width: 100%;
                max-width: 500px;
                min-width: 280px;
                min-height: auto;
                float: none;
                display: block;
                margin: 0px auto;
                border: 1px solid #ccc !important;
                margin-top: -1px;
                &:hover,
                &:focus {
                    box-shadow: none !important;
                    border: 1px solid #ccc !important;
                }
                &:first-child {
                    margin-top: 0px;
                }
            }
            .img-container {
                @include aspect-ratio(4, 3);
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        &:before {
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            content: '';
                            box-shadow: 0px 0px 0px 2px $color-yellow inset;
                            z-index: 2;
                        }
                        @include screen('mobile') {
                            &:before {
                                display: none;
                            }
                        }
                    }
                    span {
                        position: absolute;
                        background: RGBA(0, 0, 0, 0.75);
                        text-align: left;
                        color: #fff;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        left: 0;
                        width: auto;
                        height: 3em;
                        line-height: 3em;
                        padding: 0 1em;
                        @include text-overflow;
                    }
                    &.video {
                        &:hover,
                        &:focus {
                            &:before {
                                background: $color-red;
                            }
                        }
                        &:before {
                            width: 60px;
                            height: 60px;
                            background: rgba(0, 0, 0, 0.5);
                            border-radius: 50%;
                            position: absolute;
                            left: 50%;
                            margin-left: -30px;
                            top: 35%;
                            content: '';
                            z-index: 1;
                        }
                        &:after {
                            position: absolute;
                            top: 41.5%;
                            left: 50%;
                            z-index: 2;
                            margin-left: -7px;
                            content: '';
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 12px 0 12px 20px;
                            border-color: transparent transparent transparent #ffffff;
                            @include screen('tablet') {
                                top: 43.5%;
                            }
                            @include screen('mobile') {
                                top: 42.5%;
                            }
                        }
                    }
                }
                img {
                    transition: 0.3s ease-out;
                    object-fit: cover;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            // &:nth-child(3n) {
            //     .youtube_title {
            //         background: url(../images/youtube_before.jpg) no-repeat right .1em #FFF;
            //         position: absolute;
            //         min-width: 7em;
            //         height: 2em;
            //         top: -2em;
            //         right: 0;
            //         z-index: 1;
            //         font-weight: bold;
            //         font-size: .938em;
            //         padding-right: 5em;
            //         padding-left: 1em;
            //         color: #222;
            //         @include box-sizing;
            //         @include screen('mobile') {
            //             top: 0em;
            //             height: 1.8em;
            //         }
            //     }
            // }
        }
    }
}

// 年度績效
.kpi {
    @include screen('mobile') {
        background: #dedede;
        padding-top: 2em !important;
    }
    .kpi_block {
        position: relative;
        width: $liWidth;
        float: left;
        display: block;
        @include box-sizing;
        vertical-align: top;
        height: 13em;
        padding: 1em 2em;
        border: 1px solid #fff;
        color: #fff;
        text-shadow: 1px 1px 2px RGBA(0, 0, 0, 0.8);
        @include screen('mobile') {
            height: auto;
            width: 50%;
            min-height: 14em;
            padding: 1em;
        }
        ul {
            @include li-reset;
            li {
                text-shadow: none;
                margin-bottom: 0.5em;
                display: block;
                font-size: 1.5em;
                font-weight: bold;
                @include screen('mobile') {
                    font-size: 1.75em;
                }
                span {
                    display: inline-block;
                    min-width: 7em;
                    font-size: 0.75em;
                    font-weight: normal;
                    @include screen('tablet') {
                        min-width: 6em;
                    }
                    @include screen('xs_mobile') {
                        min-width: auto;
                        display: block;
                        font-size: 0.55em;
                        opacity: 0.75;
                        margin-bottom: 0.3em;
                    }
                }
            }
        }
        &:first-child {
            height: 26em;
            background: url(../images/kpi_bg.jpg) no-repeat left top #695744;
            background-size: cover;
            position: relative;
            padding: 0.5em 2em;
            @include screen('mobile') {
                float: none;
                width: 100%;
                height: auto;
            }
            h2 {
                position: relative;
                width: 200px;
                height: 130px;
                text-align: center;
                border: 1px solid #fff;
                box-shadow: 1px 1px 2px 0px RGBA(0, 0, 0, 0.7);
                font-size: 4em;
                line-height: 1.1em;
                padding: 0.2em;
                margin: 0.1em auto 0.5em;
                @include gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), diagonal);
                span {
                    display: block;
                    font-size: 0.5em;
                    @include screen('mobile') {
                        display: inline-block;
                    }
                }
                @include screen('tablet') {
                    width: 80%;
                }
                @include screen('mobile') {
                    width: auto;
                    height: auto;
                    background: none;
                    border: none;
                    box-shadow: none;
                    text-align: left;
                    padding: 0;
                    margin-bottom: 0;
                }
            }
        }
        h3 {
            margin: 0em 0 0.5em;
            height: 2.9em;
            display: block;
            line-height: 1.45em;
            font-size: 1.75em;
            @include screen('tablet') {
                font-size: 1.25em;
            }
            @include screen('mobile') {
                font-size: 1.25em;
            }
        }
        &:nth-child(2) {
            @include gradient(#36a0e5, #36a0e5, vertical);
        }
        &:nth-child(3) {
            @include gradient(#25b7b2, #25b7b2, vertical);
        }
        &:nth-child(4) {
            @include gradient(#e5861f, #e5861f, vertical);
        }
        &:nth-child(5) {
            @include gradient(#ecb132, #ecb132, vertical);
        }
    }
}

// 廣告輪播
.link_banner {
    margin-bottom: 0.5em;
    @include screen('mobile') {
        @include gutter();
    }
    .container {
        @include gutter(70px);
        @include screen('mobile') {
            @include gutter(40px);
        }
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 80%;
        left: 0px;
        @include screen('mobile') {
            left: 0px;
        }
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 80%;
        right: 0px;
        @include screen('mobile') {
            right: 0px;
        }
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        border: 1px solid #ccc;
        background: #fdfdfd;
        background-position: center center;
        background-size: 100% 100% !important;
        position: relative;
        a {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
            &:focus {
                outline: none;
                box-shadow: none;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    content: '';
                    box-shadow: 0px 0px 0px 2px $color-yellow inset;
                    z-index: 2;
                }
                @include screen('mobile') {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

.emergency {
    // margin: 2em auto;
    line-height: 1.5em;
    padding: 1em 1.5em 2em;
    border-radius: 0.5em;
    box-sizing: border-box;
    overflow-y: auto;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    @include screen('mobile') {
        width: 100%;
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #36aaa0;
        background: -webkit-linear-gradient(top, #36aaa0, #1b619d);
        background: linear-gradient(to bottom right, #36aaa0, #1b619d);
        z-index: -1;
        opacity: 0.95;
    }
    a {
        color: #36aaa0;
        text-decoration: none;
        margin: 0 0.5em;
        font-size: 1.5em;
    }
    em {
        color: red;
        font-style: normal;
        font-weight: bold;
    }
    .box {
        display: block;
        max-width: 50em;
        margin: 0px auto;
        background: #fff;
        padding: 2em;
        border-radius: 0.5em;
        position: relative;
        a.close {
            position: absolute;
            width: 1.5em;
            height: 1.5em;
            background: url(../images/icon_close.png) no-repeat center center #fff;
            background-size: 1.5em;
            border-radius: 50%;
            top: -0.5em;
            right: -1em;
            text-indent: -9999px;
            display: block;
            box-shadow: 0px 0px 4px RGBA(0, 0, 0, 0.75);
        }
    }
    h2 {
        font-size: 1.5em;
        line-height: 1.45em;
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.5em;
    }
    ul {
        padding-left: 0;
        &>li {
            list-style: none;
            font-size: 1em;
            font-weight: bold;
            line-height: 1.55em;
        }
        ul {
            margin: 1em 0 1em 4em;
            @include screen('mobile') {
                margin: 1em 0 1em 2em;
            }
        }
        li ul li {
            list-style: cjk-ideographic;
            font-size: 1em;
            font-weight: normal;
            margin-bottom: 1em;
        }
    }
}